# Disaster Tweets Classifier

In [ ]:
# installing all dependencies required for the notebook
%pip install -r requirements.txt

# Data Exploration & Pre-processing

## Data exploration

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/train.csv', index_col='id')
df.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [10]:
df.shape # 7613 rows, with 4 columns

(7613, 4)

In [13]:
# target 1 refers to disaster tweet, 0 is not a disaster tweet
df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [21]:
# checking for completeness of data
print(f"{np.sum(df['keyword'].isna())} rows have no keywords")
print(f"{np.sum(df['location'].isna())} rows have no location")
print(f"{np.sum(df['text'].isna())} rows have no text")
print(f"{np.sum(df['text'].isna())} rows have no target")

61 rows have no keywords
2533 rows have no location
0 rows have no text
0 rows have no target

In [22]:
# note that some keywords are phrases, with '%20' as a space
df['keyword'].value_counts()

fatalities               45
deluge                   42
armageddon               42
sinking                  41
body%20bags              41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [15]:
# note that there are some non-location locations, like 'World Wide!!' and 'a feminist, modernist hag.'
df['location'].value_counts()

USA                           104
New York                       71
United States                  50
London                         45
Canada                         29
                             ...
KOLKATA                         1
a feminist, modernist hag.      1
Gainesville/Tampa, FL           1
World Wide!!                    1
Danville, VA                    1
Name: location, Length: 3341, dtype: int64

## Preprocessing

## Saving pre-processed data for collaborators

## Splitting into training and validation data

## Saving .csv files for training and validation sets